.group-icon{
  background-image: url("https://ggbsq.xingpanwang.com/renren-fast/smallUploadSource/vientianeTestMobileAsset/images/newRoom/group-icon(1).png");
  background-repeat: no-repeat;
  background-size: 770rpx 689rpx;
}
.bg-balance_word {
  width: 256rpx; height: 129rpx;
  background-position: -302rpx -318rpx;
}
.bg-btn_more {
  width: 214rpx; height: 92rpx;
  background-position: -10rpx -477rpx;
}

.bg-cancel_btn {
    width: 214rpx; height: 91rpx;
    background-position: -244rpx -477rpx;
}
.bg-fail_word {
  width: 272rpx; height: 139rpx;
  background-position: -10rpx -318rpx;
}
.bg-group_type {
  width: 226rpx; height: 76rpx;
  background-position: -476rpx -589rpx;
}
.bg-invate_btn {
  width: 213rpx; height: 90rpx;
  background-position: -10rpx -589rpx;
}
.bg-match_s {
  width: 393rpx; height: 134rpx;
  background-position: -10rpx -164rpx;
}
.bg-match_w {
  width: 750rpx; height: 134rpx;
  background-position: -10rpx -10rpx;
}
.bg-mvp {
  width: 90rpx; height: 44rpx;
  background-position: -578rpx -370rpx;
}
.bg-ques {
  width: 50rpx; height: 62rpx;
  background-position: -707rpx -164rpx;
}
.bg-ready {
  width: 122rpx; height: 32rpx;
  background-position: -578rpx -318rpx;
}
.bg-ready_btn {
  width: 214rpx; height: 91rpx;
  background-position: -478rpx -477rpx;
} 
.bg-start_btn {
  width: 213rpx; height: 90rpx;
  background-position: -243rpx -589rpx;
}
.bg-success_word {
  width: 264rpx; height: 134rpx;
  background-position: -423rpx -164rpx;
}