// reset
button{
  padding: 0;
  border: none;
  margin: 0;
}
// display
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col{
  flex-direction: column;
}

.flex-j-e{
  justify-content: flex-start;
}
.flex-j-c{
  justify-content: center;
}

// pos
.pos-r{
  position: relative;
}
.pos-a{
  position: absolute;
}
//self-align
.db-center{
  position: absolute;
  left: 50%; 
  top: 50%;
  transform: translate(-50%,-50%);
}

.left-center{
  left: 50%;
  transform: translateX(-50%);
}
.top-center{
  top:50%;
  transform: translateY(-50%);
}

// box
.border-50{
  border-radius: 50%;
}
.border-1000{
  border-radius: 1000rpx;
}


// common
.w100{
  width: 100%;
}
.h100{
  height: 100%;
}


.mask-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(#000,.7);
  z-index: 20;
}


// ad
.ad-wrap{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}