.et-img{
  background-image: url("https://ggbsq.xingpanwang.com/renren-fast/smallUploadSource/vientianeTestMobileAsset/images/sprite/et-img.png");
  background-size:1125rpx 717rpx;
}
.bg-ad_btn {
  width: 69rpx; height: 81rpx;
  background-position: -416rpx -399rpx;
}

.bg-energe {
    width: 54rpx; height: 72rpx;
    background-position: -597rpx -399rpx;
}
.bg-energe_normal {
  width: 28rpx; height: 48rpx;
  background-position: -671rpx -399rpx;
}
.bg-group {
  width: 421rpx; height: 308rpx;
  background-position: -694rpx -10rpx;
}
.bg-menu {
  width: 72rpx; height: 72rpx;
  background-position: -505rpx -399rpx;
}
.bg-rank {
  width: 664rpx; height: 369rpx;
  background-position: -10rpx -10rpx;
}
.bg-rank_list {
  width: 386rpx; height: 308rpx;
  background-position: -10rpx -399rpx;
}