.rank-icon{
  background-image: url("https://ggbsq.xingpanwang.com/renren-fast/smallUploadSource/vientianeTestMobileAsset/images/public/icon-1.png");
  background-size: 500rpx 500rpx;
  background-repeat: no-repeat;
}


.numsize{
   width: 60rpx;
   height: 73rpx;
 }
.rank-icon-num-1{
  background-position: 10rpx 0;
}
.rank-icon-num-2{
  background-position: -46rpx 0;
}
.rank-icon-num-3{
  background-position: -111rpx 0;
}
.rank-icon-num-4{
  background-position: -174rpx 0;
}
.rank-icon-num-5{
  background-position: -239rpx 0;
}


.wordsize{
  width: 74rpx;
  height: 73rpx;
}
.rank-icon-word-de{
  background-position: 0rpx -79rpx;
}
.rank-icon-word-li{
  background-position: -76rpx -79rpx;
}
.rank-icon-word-shang{
  background-position: -155rpx -79rpx;
}
.rank-icon-word-ti{
  background-position: -233rpx -79rpx;
}
.rank-icon-word-wen{
  background-position: -310rpx -79rpx;
}
.rank-icon-word-yi{
  background-position: -389rpx -79rpx;
}
.rank-icon-word-zong{
  background-position: -0rpx -152rpx;
}
